.containe {
    padding: 5pc 5pc 5pc 5pc;
h1{
    color: white;
    text-align: center;
    font-size: 3pc;
    text-transform: uppercase;
}
hr{
    margin-bottom: 8pc;
    width: 5%;
}
    .yel {
        color: #FBE818;
        text-transform: uppercase;
        i{
            color: white;
        }
    }
    p{
        color: #A3A3AA;
        margin-bottom: 5pc;
    }
}