@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  top: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  //padding: 10px;
}

.btn links{

}

.test-blok{
  width: 90%;
  height: 300px;
  background-color: grey;
  border: 1px solid red;
}

hr{
  background-image: linear-gradient(to right, #6d0eb1 , #310cb3);
  height: 3px !important;
}